<div id='stars'></div>
<div id='stars2'></div>   
<div id='stars3'></div>
<div class="container">
  <div class="header">
    <h1 class="title">Fly with Angular</h1>
    
     <button (click)="showList()" class="btn add-trip-btn">+ Add a Trip</button> 
  </div>

  <div *ngIf="isListVisible"  class="trips-list">
    <div  class="trip" *ngFor="let trip of trips">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 trip-image-container">
          <img src="" class="trip-image">
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8 trip-info">
          <div> 
            <div  class="trip-name">{{trip.name}}</div>
            <div class="trip-price">{{trip.price | currency:"INR"}}</div>
          </div>
          <div  class="trip-duration">{{trip.duration}}</div>

          <div class="row trip-description-container">
            <div class="col-md-8 trip-description">
              {{trip.description}}
            </div>
            <div class="col-md-4">
              <button class="btn btn-lg book-btn">Book Trip</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isListVisible">
    <div class="container">
      <div class="container form-container">
        <form name="new-trip-form">
          <div class="form-group col-md-12">
            <label class="col-form-label" for="formGroupTripName">Trip name</label>
            <input type="text" class="form-control" id="formGroupTripName" placeholder="Enter name" >
            <small id="TripNameHelpBlock" class="form-text text-muted">
              It is best to limit the trip name to about 25 to 30 charatcters.
            </small>
          </div>
          <div class="form-group col-md-6">
            <label class="col-form-label" for="formGroupTripCost">Cost</label>
            <div class="input-group">
              <span class="input-group-addon">INR</span>
              <input type="number" class="form-control" id="formGroupTripCost" >
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="col-form-label" for="formGroupDuration">Duration</label>
            <input type="text" class="form-control" id="formGroupDuration" placeholder="Eg. 12 months" >
          </div>
          <div class="form-group col-md-12">
            <label class="col-form-label" for="formGroupDescription">Description</label>
            <textarea type="text" class="form-control" id="formGroupDescription" placeholder="Some description goes here..." ></textarea>
          </div>
          <div class="form-group col-md-12">
            <label class="col-form-label" for="formGroupTripImage">Trip image</label>
            <input type="text" class="form-control" id="formGroupTripImage" placeholder="Add a trip image link" >
            <small id="TripNameHelpBlock" class="form-text text-muted">
              Please add a link to the image
            </small>
          </div>
          <div class="form-actions">
            <button class="btn submit-btn" type="button">SUBMIT</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>